/* MID-SIZE */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .flex-nav-single {
        display: none;
    }

    .display-none {
        display: none;
    }

    .display-small {
        display: block;
    }

    .logo-takes-width {
        width: 400px;
        height: auto;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .flex-nav-single {
        display: none;
    }

    .display-none {
        display: none;
    }

    .display-small {
        display: block;
    }

    .logo-takes-width {
        width: 400px;
        height: auto;
    }

    .display-none-sm {
        display: none;
    }

    .bg-grey {
        padding: 50px 0;
    }

    .bg-blue {
        padding: 50px 0;
    }

    .list-contain {
        display: flex;
        flex-direction: column;
    }
}