* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

/* UTILITIES */
.btn-black {
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 20px;
}

.padding-sec {
    padding: 50px 0;
}

.text-center {
    text-align: c;
}

.fontsmall {
    font-size: 12px;
}

.color-lb {
    color:#0977d0;
}

/* HEADER */
.logo-bar {
    display: flex;
    justify-content: end;
    padding: 8px;
    background-color: black;
}

.sony-logo {
    width: 100px;
}

.my-navbar {
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    color: black;
}

.nav-flex {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* JUMBOTRON */
.jumbotron {
    padding: 200px 30px;
    color: white;
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg)
}

/* RATCHET AND RETURNAL */
.card-container {
    border-radius: 200px;
    padding-bottom: 20px;
}

.card-img {
    object-fit: contain;
}